<div class="row post" *ngFor="let post of data">
    <div class="col md-1">
        <app-vote-button [post]="post"></app-vote-button>
    </div>
    <div class="col-md-11">
        <span class="subreddit-info">
            <span class="subreddit-text"><a routerLink="" class="posturl">{{post.subredditName}}</a></span>
        <span>. Posted by <a class="username" routerLink="/user/{{post.userName}}">{{post.userName}}</a></span>
        <span>. {{post.duration}}</span>
        </span>
        <hr>
        <div class="post-title">
            <a href="{{post.url}}" class="postname">{{post.postName}}</a>
        </div>
        <div>
            <p class="post-text" [innerHtml]="post.description"></p>
        </div>
        <hr>
        <span>
            <a role="button" class="btnComments">
                <i class="fa fa-comments" aria-hidden="true"></i>
                Comments({{post.commentCount}})
            </a>
            <button (click)="goToPost(post.id)" class="login">
                Read Post
            </button>
        </span>
    </div>
</div>